SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_ANON_KEY=eyJ...
CDN_BASE_URL=https://d1234.cloudfront.net
CDN_PRESIGN_URL=https://xyz.lambda-url.ap-northeast-1.on.aws
# service_role key do not put here
